img {
    max-width: 100%;
    max-height: 100%;
}

.selectors
{
    width:50%;
}

.registrationForm
{
    padding:3%;
    width: 50%;
    background-color: cornsilk;
}



.hidden
{
    display: none;
}

#detailsForm
{
    padding: 3%;
    width: 65%;
    background-color: cornsilk;
}

.warning-div
{
    background-color: mistyrose;
    color: red;
}

.stop-warning {
    background-color: mistyrose;
    color: red;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/backgroundpattern.png");
}

#dataDisplay {
    width: 60%;
    background-color: cornsilk;
}

th {
    width: 100%;
}

#myNav {
    background-color: cornsilk;
}

.card-body {
    background-color: cornsilk;
}

@media only screen and (max-width: 1080px) {
    #dataDisplay {
        width: 90%;
    }
    #detailsForm {
        width: 90%;
    }
    .registrationForm {
        width: 100%;
    }
}
  