img {
    max-width: 100%;
    max-height: 100%;
}

.selectors
{
    width:20%;
}

#tableContainer
{
    width: 50%;
    margin-left: 25%;
}

#registrationForm
{
    padding:3%;
    width: 50%;
    margin-left:25%;
}

.hidden
{
    display: none;
}

#detailsForm
{
    padding: 3%;
    width: 65%;
    background-color: cornsilk;
}